.h4, h4, h6{
	color: #0E7BD8;
}

.search-box{
	width: 1160px;
	border-radius: 3px;
	border: none;
}

.avatar{
	max-width: 100%;
	height: auto;
	display: block;
}

.letter{
	background-color: #DAD7D7;
}

.all-letters td{
	color: #337ab7;
}	

.search{
	background-color: #DAD7D7;
}

.form-ele{
	border: 0px #fff;
	border-radius: 0px;
	border-top: none;
	box-shadow: 0 0 0 #fff;
}

.form-input{
	border-bottom: 1px solid #ccc;
}

.btn-add{
	color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
    border-radius: 50px;
}

.bottom-line{
	border-bottom: 1px solid #ccc;
}

.btn-del{
	color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
    border-radius: 50px;
}