
    
    <div class="container" ng-app="myApp">
      <div class="row head">
        <div class="col-md-3">
          <h4>Cancel</h4>
        </div>
        <div class="col-md-6">
          <h4 align="center" style="color:black">New Contact</h4>
        </div>
        <div class="col-md-3">
          <h4 align="right">Done</h4>
        </div>
      </div>  
      <form  class="form-horizontal" ng-controller="AddCtrl">
        <div class="row">
          <div class="col-md-3 avatar">
            <img class="img-circle center-block" src="avatar.jpg" style="height:150px; width:150px;">
          </div>
          <div class="col-md-9">
              <div class="form-group form-input">
                <input type="text" class="form-control form-ele" placeholder="First Name" ng-model="firstName">
              </div>
              <div class="form-group form-input">
                <input type="text" class="form-control form-ele" placeholder="Last Name" ng-model="lastName">
              </div>
              <div class="form-group form-input">
                <input type="text" class="form-control form-ele" placeholder="Company" ng-model="company">
              </div>
          </div>
        </div>
        <br>
        <div class="row form-group form-input" id="homephone" ng-hide="IsHidden">
          <div class="col-md-1"><button type="button" class="btn btn-del" ng-click="ShowHide()">-</button></div>
          <div class="col-md-2"><h6>home</h6></div>
          <div class="col-md-9">
            <input type="text" class="form-control form-ele" placeholder="Phone" >
          </div>
        </div>
        <div class="row bottom-line">
          <div class="col-md-1" style="margin-bottom:5px;">
            <button type="button" class="btn btn-add" value="Show Hide DIV" ng-click="ShowHide()">+</button>
          </div>
          <div class="col-md-11">
            <h6>add phone</h6>
          </div>
        </div>
        <div class="row bottom-line"  style="margin-top:20px;">
          <div class="col-md-1" style="margin-bottom:5px;">
            <button type="button" class="btn btn-add" style="border-bottom-width: 0px; margin-bottom: 1px;">+</button>
          </div>
          <div class="col-md-11">
            <h6>email</h6>
          </div>
        </div>
      </form> 
    </div>

