
    
    <div class="container" ng-app = "myApp">
    	<div class="row head">
    		<div class="col-md-3">
    			<h4>Groups</h4>
    		</div>
    		<div class="col-md-6">
    			<h4 align="center" style="color:black">All Contacts</h4>
    		</div>
    		<div class="col-md-3">
    			<h4 align="right"><a ng-href="#addnew.html"> + </a></h4>
    		</div>
    	</div>	
    	<div class="row search" >
    		<div class="col-md-12" align="center" style="padding-left: 5px; padding-top: 5px; padding-right: 5px; padding-bottom: 5px;">
    			<input type="text" class="search-box" name="search" placeholder="Search">
    		</div>
    	</div>
    	<div class="row details">
    		<div class="col-md-3 avatar">
    			<img class="img-circle center-block" src="images/avatar.jpg" style="height:150px; width:150px;">
    		</div>
    		<div class="col-md-9" ng-controller='OwnerCtrl'>
    			<h5>{{owner.firstName}} {{owner.lastName}}</h5>
    			<h6>My Number: {{owner.number}}</h6>
    		</div>
    	</div>
    	<div class="row list" ng-controller='ContactCtrl'>
    		<div class="col-md-11">
	    		<div class="list-grp">
		    		<div class="row letter" > 
		    			<h5>&nbsp; A</h5> 
		    		</div>
		    		<table class="table">
		    			<tbody>
		    				<tr ng-repeat="contact in contactlist">
		    					<td>{{contact.firstName}} {{contact.lastName}}</td>
		    				</tr>

		    			</tbody>
		    		</table>
		    	</div>
		    	<div class="list-grp">
		    		<div class="row letter" > 
		    			<h5>&nbsp; B</h5> 
		    		</div>
		    		<table class="table">
		    			<tbody>
		    				<tr>
		    					<td>Ba Name</td>
		    				</tr>
		    				<tr>
		    					<td>Bb Name</td>
		    				</tr>
		    			</tbody>
		    		</table>
		    	</div>
		    </div>
	    	<div class="col-md-1 all-letters">
	    		<table class="all-letters">
	    			<tbody>
	    				<tr><td>&nbsp; A</td></tr>
	    				<tr><td>&nbsp; B</td></tr>
	    				<tr><td>&nbsp; C</td></tr>
	    				<tr><td>&nbsp; D</td></tr>
	    				<tr><td>&nbsp; E</td></tr>
	    				<tr><td>&nbsp; F</td></tr>
	    				<tr><td>&nbsp; G</td></tr>
	    				<tr><td>&nbsp; H</td></tr>
	    				<tr><td>&nbsp; I</td></tr>
	    				<tr><td>&nbsp; J</td></tr>
	    				<tr><td>&nbsp; K</td></tr>
	    				<tr><td>&nbsp; L</td></tr>
	    				<tr><td>&nbsp; M</td></tr>
	    				<tr><td>&nbsp; N</td></tr>
	    				<tr><td>&nbsp; O</td></tr>
	    				<tr><td>&nbsp; P</td></tr>
	    				<tr><td>&nbsp; Q</td></tr>
	    				<tr><td>&nbsp; R</td></tr>
	    				<tr><td>&nbsp; S</td></tr>
	    				<tr><td>&nbsp; T</td></tr>
	    				<tr><td>&nbsp; U</td></tr>
	    				<tr><td>&nbsp; V</td></tr>
	    				<tr><td>&nbsp; W</td></tr>
	    				<tr><td>&nbsp; X</td></tr>
	    				<tr><td>&nbsp; Y</td></tr>
	    				<tr><td>&nbsp; Z</td></tr>
	    			</tbody>
	    		</table>
	    	</div>
    	</div>
    </div>

 
